/*
 * Copyright (c) 2023 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

&led_strip {
    //chain-length = <6>;
    chain-length = <31>; // Uncomment if using both per-key and underglow LEDs
    //chain-length = <25>; // Uncomment if using only per-key LEDs.
};

/ {
    keymap {
        compatible = "zmk,keymap";
        encoder_map {
            compatible = "zmk,encoder-map";
            default_layer {
                bindings = <
                    &inc_dec_kp C_VOL_UP C_VOL_DN
                    &inc_dec_kp PG_UP PG_DN
                >;
            };
        };

        default_layer {
            // ---------------------------------------------------------------------------------------------------------------------------------
            // |  ESC  |  Q  |  W  |  E   |  R   |  T   |                                          |  Y   |  U    |  I    |  O   |   P   |   \  |
            // |  TAB  |  A  |  S  |  D   |  F   |  G   |                                          |  H   |  J    |  K    |  L   |   ;   |   '  |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   | L SHIFT | L SHIFT |  | LAYER 1 | L SHIFT |  N   |  M    |  ,    |  .   |   /   | CTRL |
            //                     | GUI  | DEL  | RET  |  SPACE  |   ESC   |  |   RET   |  SPACE  | TAB  | BSPC  | R-ALT |
            bindings = <
            &kp ESC   &kp Q &kp W &kp E &kp R &kp T                                                  &kp Y &kp U  &kp I     &kp O   &kp P    &kp BSLH
            &kp TAB   &kp A &kp S &kp D &kp F &kp G                                                  &kp H &kp J  &kp K     &kp L   &kp SEMI &kp SQT
            &kp LSHFT &kp Z &kp X &kp C &kp V &kp B &kp LSHFT &kp LSHFT            &mo 1   &kp LSHFT &kp N &kp M  &kp COMMA &kp DOT &kp FSLH &kp RCTRL
                                  &kp LGUI &kp DEL &kp RET &kp SPACE &kp ESC       &kp RET &kp SPACE &kp TAB &kp BSPC &kp RALT
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        }
        function_layer {
            bindings = <
            &mo 2 &kp N1 &kp N2 &kp N3 &kp N4 &kp N5                 &kp N6 &kp N7 &kp N8 &kp N9 &kp N0 &kp BSPC
            &trans &trans &trans &trans &trans &trans               &kp LEFT &kp DOWN &kp UP &kp RIGHT &trans &trans
            &trans &trans &trans &trans &trans &trans &trans &trans   &trans &trans &trans &trans &trans &trans &trans &trans
                                   &trans &trans &trans &trans &trans  &trans &trans &trans &trans &trans
            >;

            sensor-bindings = <
                &inc_dec_kp C_VOL_UP C_VOL_DN
                &inc_dec_kp PG_UP PG_DN
            >;
        };
        symbol_layer {
            bindings = <
            &trans &kp EXCL &kp AT   &kp HASH &kp DLLR &kp PRCNT      &kp CARET &kp AMPS &kp ASTRK &kp LPAR &kp RPAR &kp BSPC
            &trans &kp LBKT &kp RBKT &kp LBRC &kp RBRC &kp PIPE       &kp MINUS &kp PLUS &kp EQUAL &kp UNDER &kp COLON &kp SEMI
            &trans &kp LT   &kp GT   &kp GRAVE &kp TILDE &kp BSLH &trans &trans &trans &trans &kp COMMA &kp DOT &kp SQT &kp DQT &kp FSLH &trans
                                   &trans &trans &trans &trans &trans   &trans &trans &trans &trans &trans
        >;

        sensor-bindings = <
            &inc_dec_kp C_VOL_UP C_VOL_DN
            &inc_dec_kp PG_UP PG_DN
        >;
        };
    };
};
